[2017-02-24 02:25] sixshooterz opened #1 "Login Page Does Not Open"
After fresh install the login page does not open.  For some reason, the link on the UCS user page directs to HTTP instead of HTTPS.  Correcting the url in the address bar opens the page as it should.  Unfortunately there's not a registry entry to fix this, at least that I could see. Any help would be greatly appreciated!

EDIT:  Hovering over the Nextcloud link on the UCS page shows that it should

[2017-02-24 03:10] sixshooterz opened #2 "Client 2.2.4 Unable To Connect To Nextcloud 11"
This client was able to connect to Nextcloud 10 but fails when connecting to the new version.  I've not tested platforms other than Univention so I'm not sure if this is specific to this docker instance.  Please advise.

EDIT:  It seems the client has it hard-coded that the trailing URL should be owncloud instead of nextcloud or looking for status.php in the root.  I am able to connect to https://

[2017-03-01 22:12] MiGrandjean commented on #1
AFAIK this has been fixed today in the UCS App Center package: https://errata.software-univention.de/ucs/4.1/406.html
New installations should be fine. Existing installations might need to run `ucr set ucs/web/overview/entries/service/nextcloud/port_http='' ucs/web/overview/entries/service/nextcloud/port_https='443'` on the UCS host.

[2017-03-03 12:55] MiGrandjean opened #4 "Add php-smbclient to docker image"
A regular use case seems to be to add SMB shares as External Storage to Nextcloud: https://docs.nextcloud.com/server/11/admin_manual/configuration_files/external_storage/smb.html (especially with UCS, which is usually also used as Fileserver).

This is currently not possible with the univention-app, because there is no smbclient in the docker image available. Adding the package `php-smbclient` to

[2017-03-03 14:49] dirkahrnke opened #6 "rework needed for LDAP bind user"
from http://forum.univention.de/viewtopic.php?t=6521&p=25170#p25170

Using a machine account to bind to LDAP needs a method to deal with password changes (see http://docs.software-univention.de/developer-reference-4.1.html#join:secret:change)

Another method is to create a dedicated bind user for the application.

[2017-03-06 22:19] MiGrandjean opened #7 "Add automatic security updates to the docker image"
As of today, the underlying Ubuntu 16.04 of the docker image is missing a couple of package updates right after installation (e.g. PHP from 7.0.13 to 7.0.15 and some libs). All of those are categorized as security updates, but there is no mechanism to automatically apply Ubuntu packge updates inside the nextcloud docker app.

If this makes sense at all depends on how often the App itself is update

[2017-03-07 12:41] MiGrandjean opened #8 "inst.sh fails if apache uses a non-default TLS certificate"
Univention Forum (german): http://forum.univention.de/viewtopic.php?f=67&t=6573

By default, TLS capable services on a Univention Corporate Server use a TLS certificate that is signed by the (self-signed) UCS CA. The `inst.sh` validates this certificate by verifying against the UCS CA Root Certificate when using the OCS-API via `curl`:

`curl --cacert /etc/univention/ssl/ucsCA/CAcert.pem -X PUT ..

[2017-03-07 21:52] MiGrandjean commented on #6
Just to emphasize this: The current usage of the machine account to bind to LDAP breaks every Nextcloud installation after 21 days (default interval for renewing the password of the machine account) at the latest!

[2017-03-07 22:09] MiGrandjean opened #9 "Review disabling of updatechecker"
The `README.md` says that the updatechecker is disabled and updates are provided via Univention App Center. Unfortunately, this doesn't seem to work. An Update of Nextcloud from 11.0.1 to 11.0.2 can be initiated via the Nextcloud webinterface (https://FQDN/nextcloud/index.php/settings/admin → Server settings).

I am aware of [this line here](https://github.com/nextcloud/univention-app/blob/master/

[2017-03-08 10:32] oparoz commented on #7
Is this the right way @LukasReschke @blizzz ?

[2017-03-08 12:01] blizzz commented on #7
We've got ``unattended-upgrades`` installed which should look for and apply security updates once a day https://github.com/nextcloud/univention-app/blob/master/Dockerfile#L49

[2017-03-08 12:24] blizzz commented on #2
You also need to specify the path, if Nc is not installed in the domain root. Which is the case on UCS, obviosuly, so you need to provide the ``nextcloud`` folder.

About the client: the current state is that we use the same source as upstream and only change the theming capabilities. Probably that's why it looks up the owncloud subfolder.

[2017-03-08 12:26] #4 closed, assigned to nobody

[2017-03-08 12:44] MiGrandjean commented on #7
My bad, @blizzz is right. I missed that line in the Dockerfile. Additionally, both of my test machines never updated themselves because they were always paused/suspended when `cron.daily` should have started the unattended upgrade.

Sorry for the inconvenience, I'm going to close this issue because it's **INVALID**.

[2017-03-08 12:44] #7 closed, assigned to nobody

[2017-03-09 10:05] blizzz commented on #6
Suggested fix in https://github.com/nextcloud/univention-app/pull/10

[2017-03-10 12:46] #6 closed, assigned to nobody

[2017-03-17 23:22] blizzz commented on #2
Yes, it's not part of the theming capabilities, yet. Anyhow it is a client issue, thus closing.

[2017-03-17 23:22] #2 closed, assigned to nobody

[2017-03-17 23:23] #1 closed, assigned to nobody

[2017-03-17 23:24] blizzz commented on #9
Apparently updatenotification app needs to be disabled.

[2017-03-18 00:54] #9 closed, assigned to nobody

[2017-03-18 23:08] MiGrandjean commented on #8
Just verified this: With UCS 4.1-4 Errata 361 or newer the UCS CA root certificate is added to the system's trust store:

[code]
Because of that, we can simply remove the `--cacert` option and let `curl` use the system's trust store by default.

Tested with UCS default certificate:
* on UCS Memberserver: ✓
* no errors during App installation: ✓
* no errors in `/var/log/univention/join.log`: ✓
* su

[2017-03-20 14:40] #8 closed, assigned to nobody

[2017-04-21 14:01] hnordmeyer opened #14 "Crontab entry lost on update"
Updated from Nextcloud 11.0.1 to 11.0.2 via univention app center and the crontab entry within the docker image got lost.

At least, it doesn't exist YET - I found out by reading the nextcloud message saying that last cron execution was 20 hours ago. Cannot say whether or not it existed before, but crons had been executed.

After creating /etc/conf.d/nextcloud manually, all works fine now.

[2017-04-25 10:22] blizzz commented on #14
@hnordmeyer thank you for reporting this! Indeed it is a bug. We configure cron only on install, but since the config is located on a not permanent dir, it will get lost after update.

[2017-05-08 17:11] #14 closed, assigned to blizzz

[2017-05-10 13:18] MiGrandjean opened #16 "aptitude is used but is not a dependency"
The `inst.sh` uses:

[code]

but aptitude is not installed by default anymore on new UCS 4.2 installations. This results in:

`/usr/lib/univention-install/50nextcloud.inst: Line 83: aptitude: Command not found.`

So `aptitude` should either be a hard dependency or `inst.sh` should use something else (e.g. `dpkg -l aptitude` or `dpkg-query -W -f='${Status}\n' aptitude`)

[2017-05-10 13:33] MiGrandjean opened #17 "Unsuccessful OCS-APIREQUEST should make the joinscript fail hard"
In `inst.sh`, there are some `curl` commands doing OCS-APIREQUESTs. If these requests fail, the joinscript finishes with `exit 0` nevertheless. This way users get the impression that everything went fine, while in fact `nextcloud_add_Administrator_to_admin_group` or `nextcloud_configure_ldap_backend` did not succeed. This results in a broken configuration / installation.

https://help.univention.c

[2017-05-10 13:55] blizzz commented on #16
Thanks for the report and hinting at the alternatives. ``dpkg-query -W -f='${Status}\n' univention-ldap-overlay-memberof | grep Installed | grep "^i" -c`` would be  my favorite then.

[2017-05-11 08:07] #17 closed, assigned to nobody

[2017-05-11 08:07] #16 closed, assigned to nobody

[2017-06-08 08:14] MiGrandjean opened #21 "Disable bruteforce protection"
While the bruteforce protection is a really nice feature, it's counterproductive in the case of the Univention Nextcloud App, unfortunately. The Univention Nextcloud App is running inside a Docker container and all the network traffic from and to Nextcloud is handled via the Docker bridge interface. This means **all** logins appear to come from `172.17.42.1` (the IP of the Docker bridge `docker0`)

[2017-06-09 08:46] blizzz commented on #21
As discussed on IRC, there is some config missing on Nextcloud side. Most importantly, we need to specify the IP address(es) of the Proxy server. Is there a reliable way to determine this on UCS?

Another requirement is that the Proxy sends the Forwarded-For Header, to  my understanding Apache, which is in use, does this by default.

[2017-06-23 23:44] blizzz commented on #21
@MiGrandjean ping?

[2017-06-26 09:53] MiGrandjean commented on #21
The IP address of the docker bridge is configured via the UCR variable `docker/daemon/default/opts/bip`
The IP address(es) of the UCS host is configured via the UCR variables `interfaces/<devicename>/address`, e.g. `interfaces/eth0/address`

[2017-07-20 14:15] blizzz commented on #21
Fixed with  #25

[2017-07-20 14:15] #21 closed, assigned to nobody

[2018-01-12 13:29] blizzz opened #39 "Applianace: wrong permission of extra apps"
thus upgrading from appstore fails

[2018-01-12 13:54] #39 closed, assigned to blizzz

[2018-02-21 13:07] blizzz opened #46 "customized trusted domains are lost on update"
happens here: https://github.com/nextcloud/univention-app/blob/master/setup#L149-L155

best to set them only on installation.

reported: https://help.univention.com/t/nextcloud-docker-app-having-broken-config/7851

[2018-03-14 10:20] #46 closed, assigned to nobody

[2018-03-17 16:44] palstek opened #51 "Roadmap regarding Nextcloud 13"
When will the univention-app updated to Nextcloud 13?

[2018-03-19 11:26] blizzz commented on #51
When NC 13 is moved into the [production channel](https://nextcloud.com/release-channels/). If everything goes as planned, this will be with 13.0.2.

[2018-03-19 11:26] #51 closed, assigned to nobody

[2018-05-16 09:42] fbotner opened #53 "Nextcloud App installations fails if Administrator account has no displayName LDAP attribute"
Hi,

there is a problem with the installation of the nextcloud App if the Administrator account has no displayName LDAP attribute:

[code]
And the /var/log/univention/join.log ...

[code]

The reason seems to be the LDAP filter in the user_ldap app when searching for users. With log turned on, i can see:

`
{"reqId":"QY5OhvbrJC8X2T3VrI8m","level":0,"time":"May 16, 2018 10:52:46","remoteAddr":"10.2

[2018-05-16 14:50] blizzz commented on #53
how common is this? by default, he has one.

If a user does not have a displayName, it's not considered to be a valid user for Nextcloud anyhow.

But yes, in case of installation we should not die because of this. Nevertheless, in that case the usual Administrator would not be able to log in into Nextcloud let alone administer it.

[2018-05-17 10:32] fbotner commented on #53
yes, the Administrator has a displayName in UCS, but not in Windows, so this is a problem for the ad-member mode setup

yes, i think this is ok for now, in the future the nextcloud app could make the "Administrator" user configurable (the AppCenter provides App Settings, basically a form with input fields, after saving the settings, a script is called on the Docker host and/or in the container, th

[2018-05-22 12:04] blizzz commented on #53
Really, ok.  Would you have an example record?

Or buttons (possible?) on the user page to pro-/demote (or toggle) a users. Depends also whether a user's state can be queried when showing the form, since this is a state within Nextcloud.

That's all a bit bigger effort, for now I'd look to make the install process not die  in this case for the next release. Anyway, would you have a pointer to docu

[2018-06-11 08:35] #53 closed, assigned to nobody

[2018-06-14 04:52] sixshooterz opened #56 "Enable HTTP Strict Transport Security"
On the Security and Setup Warnings section, the following is displayed:
`The "Strict-Transport-Security" HTTP header is not set to at least "15552000" seconds. For enhanced security, it is recommended to enable HSTS as described in the security tips.`

The fix is at this site:
https://docs.nextcloud.com/server/13/admin_manual/configuration_server/harden_server.html#use-https

I'm not sure which co

[2018-06-14 04:58] sixshooterz commented on #56
Nevermind.

It goes at the bottom of
`/etc/apache2/sites-enabled/default-ssl.conf`

just below the Nextcloud docker ProxyPass lines.

Hope this helps anyone who needs it because they're OCD about warnings, informational or otherwise.

[2018-06-14 04:58] #56 closed, assigned to nobody

[2018-06-14 08:58] blizzz commented on #56
Yes, this needs to be configured on the host, we cannot control it with the app.

[2018-06-17 16:16] fridok opened #57 "Changes in LDAP are not reflected on the nextcloud side"
1) Changing the name of a group (or a user) in univention management console UI (UMC) does not change its name in nextcloud. When sharing a folder in nextcloud with this group or user you still have to use its old name or it will not be found.

2) Deleting a user in UMC that shared a folder in nextcloud with a group (without beforehand removing the share or deleting the folder) leads to the folder

[2018-06-29 09:50] r100gs opened #58 "php Apcu not installed?"
Hello,

in my nextcloud app (13.0.4) on Univention (4.3 errata 126) I get info about APCu not installed but should be installed

[code]

Best regards,
Stefan

[2018-08-07 15:09] blizzz commented on #57
1. By default, Nextcloud caches information for 10minutes. Then, you should get fresh information from LDAP.

2/3. would be a Nextcloud server issue. I heard another rumour recently, and will look into it.

[2018-08-07 15:21] blizzz commented on #58
php-apcu is installed and enabled also for CLI. I cannot reproduce this behaviour.

Did you manually run a specific command before on CLi? Or, where there any modifications to the config.php or the docker containter?

[2018-08-15 14:02] va1entin opened #60 "Manual Nextcloud config is lost after app update"
I manually configured the `'defaultapp'` parameter inside the container at `/var/www/html/config/config.php`. Then I updated the app from 13.0.4 to 13.0.5 (UCS 4.3-1).
After the update, the config at `/var/www/html/config/config.php` was replaced with `/var/lib/univention-appcenter/apps/nextcloud/conf/config/config.php`. The `'defaultapp'` I had configured earlier was lost. So I suppose the config

[2018-08-15 16:58] blizzz commented on #60
This is unexpected indeed. The store_data script copies the config file to the permanent directory, and restore_data before backup copies it back.

[2018-08-16 10:48] va1entin commented on #60
I think I found the issue. See #62

[2018-08-16 12:02] blizzz commented on #60
Fixed with #62, thx @va1entin

[2018-08-16 12:02] #60 closed, assigned to nobody

[2018-09-28 10:27] ngulden opened #67 "Regression: Appliance detection broken"
The 13.0.6 app update introduced an error in this line: https://github.com/nextcloud/univention-app/blob/ff199d97978c87a5f69b772e5b2820227fbcc65f/inst#L67

This results in a broken appliance detection and an error with the join script that cannot configure the ldap backend. The fix is to change the line to:

[code]

[2018-09-28 12:22] #67 closed, assigned to nobody

[2018-10-02 13:53] herrep opened #69 "Support for Nextcloud App "Optical character recognition" https://github.com/janis91/ocr"
Dear App Maintainer,

Would you consider support for integrating the Nextcloud App "Optical character recognition" available at https://github.com/janis91/ocr into your Nextcloud Docker Container?

When activating this Nextcloud App, I need to add further packages to be run locally in the Nextcloud Docker Container and this breaks later updates of Nextcloud.

If there are no plans to do so, what w

[2018-10-02 14:26] herrep opened #70 "Support for Nextcloud App "Fulltextsearch - Elasticsearch" https://github.com/nextcloud/fulltextsearch_elasticsearch"
Dear App Maintainer,

Would you consider support for integrating the Nextcloud App "Fulltextsearch - Elasticsearch" available at https://github.com/nextcloud/fulltextsearch_elasticsearch into your Nextcloud Docker Container?

When activating this Nextcloud App, I can configure it by referring to an Elasticsearch server outside the Nextcloud Docker Container, but it appears that a connection to thi

[2018-10-08 08:55] blizzz commented on #70
Would like to work in it? Then, I am open to integrate support for that.

I am not familiar with elastic search and the integration. This should only be a problem, if there are incoming connections towards Nextcloud on a port that is not 443 (via reverse proxy) or 80 (internally, the reverse proxy on the ucs host does ssl offloading).

[2018-10-08 08:58] blizzz commented on #69
Hi @herrep, adding package is no problem, at least when they are provided by the distro. Please open a pull request and add necessary packages to the block at https://github.com/nextcloud/univention-app/blob/master/Dockerfile#L34-L60

[2018-10-08 12:15] blizzz commented on #70
@herrep you might try the suggestion in https://github.com/nextcloud/fulltextsearch/issues/256#issuecomment-367584598 Essentially strip the protocol from the host.

[2018-10-08 15:08] herrep commented on #70
Hmm... Essentially, I had not an issue with setting up Elasticsearch outside the Docker container. I bound Elasticsearch to the Public IP of the server which is also accessible from Docker so that Nextcloud inside the Docker container can reach it.

I have Elasticsearch 6.4.2 on my server and Nextcloud 13.0.6 in a Docker container.

Running a test of the fulltextsearch from inside the Nextcloud Do

[2018-10-08 15:09] herrep commented on #70
I cannot even leave the terminal window, neither pressing q or Ctrl-C does have an effect.

[2018-10-08 15:13] herrep commented on #70
Elasticsearch is on my server accessible at http://MyServerLanIpAddress:9200.
From inside the Nextcloud Docker container, I get response from
`curl 'http://<MyServerLanIpAddress>:9200'`
As reported above, occ fulltextsearch:test works finem but fulltextsearch:index shows no progress.

[2018-10-08 15:58] blizzz commented on #70
The question is, how did you configure elasticsearch within nextcloud?

[2018-10-08 16:33] herrep commented on #70
In the Nextcloud settings, I specified the elasticsearch server with and without a http:// in front of hostname:port. This made no difference. Before this, I opened a shell in the Docker container and verified that curl can contact the elasticsearch server. Here is my Elasticsearch configuration in Nextcloud:

<img width="808" alt="elasticsearch" src="https://user-images.githubusercontent.com/4186

[2018-10-09 08:41] blizzz commented on #70
@daita perhaps you've got an idea? Does it make sense to reopen the issue on https://github.com/nextcloud/fulltextsearch rather?

[2018-10-09 09:10] ArtificialOwl commented on #70
So, the `:test` command is all green ?

How many files do you have ?
What is the setup of your files ? remote ? local ? encrypted ?

[2018-10-09 09:16] herrep commented on #70
Yes, the test command succeeded entirely. The document server is remote to the Nextcloud server in the same LAN and hosts mainly text documents, total size around 500 GB. The files are not encrypted and accessed by ssh/sftp.

[2018-10-09 09:19] ArtificialOwl commented on #70
500GB is nice, it can take a long time while to get the full files tree. How long have you wait before trying to kill the process ?

[2018-10-09 09:25] herrep commented on #70
I waited long enough, as occ terminated with "Force Quit". BTW, as soon as the index screen is shown, it starts showing progress " / " without any numbers. Then, after a long time (in the range of hours) it switched to a progress of "0/274530". In the time between, the user interface commands do not appear to show a reaction.

<img width="541" alt="bildschirmfoto 2018-10-09 um 11 22 00" src="https

[2018-10-09 09:31] ArtificialOwl commented on #70
Do you have more information about the memory used by the script before crashing ? do you think you reach the limit of the assigned RAM to the PHP process ?

[2018-10-11 12:10] blizzz commented on #58
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-10-11 12:10] #58 closed, assigned to nobody

[2018-10-17 09:08] herrep commented on #70
Unfortunately, I am not familiar in debugging PHP scripts. Could you point me to the right direction as how to check the RAM usage and to increase the amount of assigned memory? Then I will gladly provide the required information.

[2018-10-17 10:21] ArtificialOwl commented on #70
It should be displayed above of the Action: line from your screenshot

[2018-10-17 10:41] herrep commented on #70
I started the index right now, and it reports 9 MB.

[2018-10-17 11:43] ArtificialOwl commented on #70
there is no refresh during the process of `generatingIndexFiles`, you should have another value after this step is done

[2018-10-17 13:42] herrep commented on #70
Now occ is in the process of indexing, currently about 165,000 out of 280,000 documents processed. Memory is at 393 MB, still indexing. However, already more than 7,000 errors are thrown with the same content:

Exception: Elasticsearch\Common\Exceptions\BadRequest400Exception
Message: pipeline with id [attachment] does not exist

[2018-10-17 13:52] ArtificialOwl commented on #70
during the index, you should be able to navigate throw the errors and get the ID of the document (files:123456)

with those information, open a new terminal and try:

./occ fultextsearch:document:platform files 123456

you should have information about the files with issues.
Are those files bigger than the limit you set up in the settings page ? 20MB by default

[2018-10-17 14:31] ArtificialOwl commented on #70
note that this first command should give you the owner of the document, then you can get information about the file from nextcloud itself using:

./occ fulltextsearch:document:provider owner files 123456

[2018-10-17 16:25] herrep commented on #70
I processed the first command to identify the owner:

However, I do not find any owner?!

[2018-10-17 16:27] herrep commented on #70
(The title and the hash fields were originally filled with data which I removed for privacy reasons. The remaining output is the original output.)

[2018-10-17 16:38] herrep commented on #70
The given error case above concerns a PDF document with 49 kByte of size and having blanks in the file name.

[2018-10-18 09:21] herrep commented on #70
The index process ended with "Force quit" at memory usage of 519 MB
<img width="572" alt="bildschirmfoto 2018-10-18 um 11 20 07" src="https://user-images.githubusercontent.com/41866019/47144522-ec533100-d2c7-11e8-8c66-a403defb5858.png">

[2018-10-18 11:41] ArtificialOwl commented on #70
thanks, i'll have a look to this pipeline issue, in the meanwhile, do you know if you have an idea if you have a memory limit set for your php processes ?

[2018-10-18 11:59] blizzz commented on #70
That should be Ubuntu 16.04 default, which is 128MB on apache, unlimited on CLI

[2018-10-18 12:31] ArtificialOwl commented on #70
The `Force Quit` thing seems to be triggered if elasticsearch takes more than 5 minutes to process the content of a file.

There is 3 reasons for this timeout:

- You have set up a maximum file size in the Settings page which is too high (> 70MB)
- The server itself is (really) loaded.
- You killed the process using the `./occ fulltextsearch:stop` in an other terminal.

You can set the TTL (Time T

[2018-10-18 12:42] herrep commented on #70
Ok, thank you very much for this hint. I increased the value to 3600 and will report the result.

[2018-10-19 00:53] ArtificialOwl commented on #70
I should also be able to slightly lighter some SQL requests fixing this, thanks for your report.

About the fact that there is no OwnerId, this should only occurs in the case of a file shared to a group_folder. If this is not the case, this is a bug.

I will release a new version this week end of fulltextsearch and files_fulltextsearch and we'll check if you have the same issues

[2018-10-19 06:58] ArtificialOwl commented on #70
Please close if 1.0.2 fix this issue.

[2018-10-19 08:18] herrep commented on #70
Regarding no OwnerId: The files to be indexed are located on an external storage which is addressed in Nextcloud via SMB/CIFS. Is this the reason that no OwnerId is available? Needs anything to be done to obtain an OwnerId for files located on an external storage?

[2018-10-19 08:29] herrep commented on #70
After setting TICK_TTL to 3600 seconds, ./occ fulltextsearch:index is still ongoing and did not lead to a Force quit. Memory usage is at 650 MB and I can scroll around the results and errors. However, the indexing process is at Action "compareWithCurrentIndex" and progress remains at 0/274964 without any change. This state is now unchanged for hours.

The indexing shows around 100,000 errors which

[2018-10-19 11:39] ArtificialOwl commented on #70
can you try to upgarde to 1.0.2 before starting the index again ?

[2018-10-19 21:36] herrep commented on #70
I upgraded to 1.0.2 and started the index again. Then, after the while, everything seems to be processed, as there is no progress any more. See screen shot:
<img width="499" alt="bildschirmfoto 2018-10-19 um 23 31 57" src="https://user-images.githubusercontent.com/41866019/47244862-62a28100-d3f7-11e8-929f-62c7dcb1284c.png">

It appears that all indexed documents have contentSize = 0. Does this mea

[2018-11-15 13:53] ngulden opened #73 "Use LDAPS connection in Nextcloud per default"
I should be thought about changing the LDAP configuration to use LDAPS per default. See https://help.univention.com/t/nextcloud-ldaps/10370 on how this can be done for the moment.

Maybe a documentation is already sufficient enough. I heard such request only one time.

[2018-11-21 17:22] blizzz commented on #73
Another option using standardized StartTLS, which essentially means setting the `ldapTLS` flag to 1. On a short test it worked out fine, right after setting this to one.

Do you have best practices or recommendations which one to use? At least from the standardization PoV, StartTLS is recommended, using LDAPS does work and avoids previous plain text connections.

[2018-11-22 16:50] blizzz opened #76 "uninstall should not remove data"
… but yet it should still be possible to do a reinstall. As it happened, a failed update and failed fall back to the previous version, does trigger a remove on UCS and thus leads to removal of data without really having the chance to stop that process → https://help.univention.com/t/nextcloud-upgrade-endup-with-all-data-lost/10420

[2018-11-23 12:00] blizzz opened #77 "configure mail server"
since Nc 14 the build-in PHP mailer is not supported anymore. With default settings, there is a bug showing a confusing error message to end users: https://github.com/nextcloud/server/issues/12597

→ The mail server should be configured properly, c.f. https://wiki.univention.de/index.php/Integration_with_UCS/Mail

fyi @ngulden

[2018-11-23 12:23] blizzz commented on #77
The wiki-link however does not reveal how to get relevant information (port, transport encryption, whether authentication is needed, and which (nop-reply) email can be used or created).

[2018-11-27 12:43] #76 closed, assigned to nobody

[2018-12-19 08:40] ngulden commented on #77
The wiki gives best practice recommendations for SMTP:

* port: 587
* encryption: TLS
* Auth login or Auth Plain

[2018-12-21 11:12] blizzz commented on #77
@ngulden yes, but it there a way to figure out what is effectively configured? For auth, can we use the same credentials of the LDAP service user?

[2018-12-21 13:03] dwiesent commented on #77
@blizzz The recommendations are for "proper" mail delivery. You would also need a real user with a mailPrimaryAddress configured (so the machine account does not work). But I guess you need this for "system messages" much like cron does it in certain jobs.
In this case, you would only need to access port 25. Any "from address" is accepted. Be aware that those mails will likely not be delivered to

[2018-12-21 13:25] blizzz commented on #77
Mh, all in all, I tend to leave it like this and just add "Please configure the mail server (if you have not done already)" to some Install and update readme. As figuring out the config seems to be vague, plus I consider this a killer:

[2019-01-22 09:50] ngulden opened #83 "Update Nextcloud 13 → Nextcloud 14 aborted because of backup error"
Users reported this issue in the Univention Forum: https://help.univention.com/t/nextcloud-update-13-14-aborting-due-to-backup-error/10978

[2019-01-28 10:06] ngulden opened #84 "Nextcloud updates remove additional installed apps"
When a Nextcloud installation in UCS App Center is updated to the next version, additionally installed plugins/apps are not present anymore, like for example the apps "Bookmarks" and "Passman" including their data. See https://help.univention.com/t/nextcloud-upgrade-removes-apps-like-bookmarks-and-passman/11010

Aren't plugins/apps not stored in a specific subfolder in the container? Wouldn't be a

[2019-02-07 18:21] blizzz commented on #84
Would be a regression. The apps were installed from the appserver again. Changed configuration and an additional permanent app folder would be the alternative, and more robust indeed.

[2019-02-25 11:03] blizzz opened #87 "For Nc 16, app:enable/disable can take an arbitrary number of apps"
cf. https://github.com/nextcloud/server/pull/13850

[2019-03-21 16:41] fridok commented on #84
At our Nextcloud  installation in UCS the calendar app is disabled after every update. Very annoying. We are at NC 14.

[2019-03-21 18:23] blizzz commented on #84
It's fixed with 14.0.8 which should hit the appcenter soon, publishing was requested.

[2019-03-21 18:23] #84 closed, assigned to nobody

[2019-03-27 13:01] ngulden opened #91 "Pre-configure Single Sign-On with SAML in the Nextcloud App"
UCS and Nextcloud support SAML. [This blog article](https://www.univention.com/blog-en/2019/02/how-to-single-sign-on-for-nextcloud/) describes how SAML can be setup manually. The blog posting describes where the needed information like URLs and certificates can be found. This information needs to be obtained during the app configuration and provided to the respective sides. I guess, the join scrip

[2019-03-27 13:12] ngulden commented on #73
There has been a solution at Univention Help: https://help.univention.com/t/nextcloud-ldaps/10370/7.

[2019-03-29 18:09] blizzz commented on #73
Mh, i'd rather set the CA in the ldap.conf, if possible, than turning of the SSL verification.

Well, if there is no preference between LDAPS and StartTLS I'd just use the later.

[2019-04-01 09:06] smidt opened #92 "Identifie users by their entryUUID"
Changing the user name in UCS leads to a new user in Nextcloud. It would be better if Nextcloud identified the users by their entryUUID. The entryUUID never changes and is retained when the user is moved or the user name is changed.

[2019-04-01 10:10] blizzz commented on #92
@smidt the entryUUID is actually being used (default value) as it is not overridden to something else: https://github.com/nextcloud/univention-app/blob/master/inst#L185

Either this setting was changed manually, or a new entry was created on the directory.

[2019-04-03 11:40] blizzz commented on #73
@ngulden

UCS takes care about upgrading the certificate files. Could it also set the TLS_CACERT to the proper certificate in the ldap.conf, just as it is already on the host?

[2019-04-11 14:17] blizzz commented on #70
@daita @herrep  Is there anything left to do here?

[2019-04-11 14:23] herrep commented on #70
I think this issue can be closed. At present, I still have issues with "Force Quit" but this is quite likely because of lack of physical resources. I am about to move Nextcloud and Elasticsearch to another server with more resources. Then I may report again if issues remain.

[2019-04-11 14:23] #70 closed, assigned to nobody

[2019-04-11 14:28] blizzz commented on #92
I'm closing this for now, we can always reopen if there are more questions or information needed for example.

[2019-04-11 14:31] blizzz commented on #83
This should be fixed with (not so) recent changes back in 14

[2019-04-11 14:31] #83 closed, assigned to nobody

[2019-04-11 14:32] blizzz commented on #77
as discussed with @ngulden it is not possible to certainly figure out for UCS which mailing system (internal or external) is used, therefore deriving any reliable information about the mail setup is not possible → closing

[2019-04-11 14:32] #77 closed, assigned to nobody

[2019-04-11 16:01] blizzz commented on #73
As discussed, we set the config initially in the container and go for  StartTLS.

[2019-04-16 10:49] TorstenE commented on #70
Hallo Nach dem Start von elasticsearch erhalte ich nachfolgende Meldung.
Hat jemand eine idee, woran es liegen kann ?

Danke

Torsten.E

`
sudo -u www-data php /var/www/html/nextcloud/occ fulltextsearch:index

In Connection.php line 615:

  {"error":{"root_cause":[{"type":"mapper_parsing_exception","reason":"Root m
  apping definition has unsupported parameters:  [standard : {dynamic=true, p
  rop

[2019-04-17 18:08] Omaha2002 commented on #70
sudo -u www-data php /var/www/html/nextcloud/occ fulltextsearch:index

In Connection.php line 615:

{"error":{"root_cause":[{"type":"mapper_parsing_exception",.....

Ditto get the same error, freshly installed Elasticsearch 7 on openjdk 1.8.0_191

[2019-04-18 13:42] af9 commented on #70
@TorstenE exactly same result I get too with my NC 15.0.7 and elasticsearch 7.0 (see below).
The problem seems to be in the mapping for [_doc] ...
I think we should open a new issue, since our problem seems to be different to @herrep's one, which is already closed btw.

`{
	"error": {
		"root_cause": [{
				"type": "mapper_parsing_exception",
				"reason": "Root mapping definition has unsupported

[2019-04-25 07:09] smidt commented on #92
Hi @blizzz, I'd like to reopen the issue because a value which you mentioned is not set in the line.
The default within Nextcloud is uid which I think makes sense if you want to connect to any LDAP you don't know anything further about. The line also shows a possibility that you could implement this very easily but it just hasn't happened yet.
I would recommend to set entryUUID there. We do that i

[2019-04-25 09:57] blizzz commented on #92
this is autodetected, therefore I have not set it manually. But we can absolutely do that. You're PR is welcome!

[2019-04-30 09:33] smidt commented on #92
Hi @blizzz,
I'm sorry for the effort but when testing my patch I noticed that user renaming actually works out-of-the-box. I think I originally tested this with a too old(?) Nextcloud version. I think then I close the issue again.
Cheers,
Michel

[2019-04-30 09:33] #92 closed, assigned to nobody

[2019-08-29 09:35] #73 closed, assigned to blizzz

[2019-08-29 09:35] #87 closed, assigned to nobody

[2019-08-29 09:41] blizzz commented on #91
done in 16.0.4-0

[2019-08-29 09:41] #91 closed, assigned to blizzz

[2019-08-30 08:56] blizzz opened #98 "consider HSTS header app"
https://apps.nextcloud.com/apps/hsts

This would make the app independent from the main host's web server config. Should be enabled only on new installations. The documentation can be adjusted to point at this as an alternative (need ensure necessary modules are installed and enabled). Appliance behaviour should be tested as well.

[2019-09-25 12:00] kevindkorte opened #99 "gmp library missing"
Multiple Nextcloud Apps are using the gmp library. However, it is not installed within the docker image and no information is provided on how to install it.

Steps to reproduce:
* Install UCS
* Install NextCloud from the AppCenter
* Try to enable for example Bookmarks

[2019-09-30 16:08] blizzz commented on #99
@kevindkorte  mind adding in https://github.com/nextcloud/univention-app/blob/master/Dockerfile#L37-L63 and open a pull request?

[2019-10-01 04:04] kevindkorte commented on #99
pull request is waiting

[2019-10-01 15:37] blizzz commented on #99
fixed with #100, will ship with next  upgrade

[2019-10-01 15:37] #99 closed, assigned to nobody

[2019-10-07 12:28] blizzz opened #102 "remove 16572.patch"
it was backported to stable16 in the server repo eventually

[2019-10-28 12:10] ngulden opened #103 "Nextcloud Docker image should use DNS server of UCS host"
The Nextcloud Docker image uses Google's DNS 8.8.8.8 in its `/etc/resolv.conf`. It therefore can only resolve public domains. Internal hostnames from the intranet served by the UCS environment cannot be resolved by the Docker container.

As a side note, see https://forge.univention.org/bugzilla/show_bug.cgi?id=44845

[2019-10-28 12:17] ngulden opened #104 "Nextcloud app doesn't support deleting or renaming groups"
Changing the name of a group or deleting it, isn't reflected in Nextcloud.

Furthermore, when a group doesn't exist in LDAP anymore, but is still in Nextcloud, it cannot be deleted there anymore.

Taken from https://forge.univention.org/bugzilla/show_bug.cgi?id=47178.

@blizzz : Is this still the case?

[2019-10-31 09:39] blizzz commented on #104
Deleted groups should not appear anymore (latest when cache was invalidated). But it is true that there is no clean up process for the remnants at the moment.

Support for group display names comes with Nextcloud 17.

[2019-11-08 11:07] #102 closed, assigned to nobody

[2019-12-02 16:22] blizzz commented on #98
nope, doesn't work behind rev proxy

[2019-12-02 16:22] #98 closed, assigned to nobody

[2019-12-02 17:12] blizzz commented on #103
@ngulden with a fresh installation, the DNS in the Nextcloud container points at the local machine (via internal IP), not 8.8.8.8. Some for an already existing installation. DNS settings are the default from the Ubuntu docker image.

Could it be a thing from the appliance?

Otherwise I am unsure what to read out from the UCR to set as name server. With appliances in mind, I cannot use the local ho

[2019-12-19 11:05] blizzz opened #107 "add shellcheck for ci"
can be run against all files with

[code]

[2020-01-21 21:46] Lebernd opened #110 "change cron to 5 min with nc17"
https://github.com/nextcloud/univention-app/blob/580fd1e13bc3cf2b941d4ad68e9a0c22ba588f98/setup#L160

the line should reflect the new docs: https://docs.nextcloud.com/server/17/admin_manual/configuration_server/background_jobs_configuration.html

so should be:
`echo "*/5 * * * * www-data    php -f /var/www/html/cron.php" > /etc/cron.d/nextcloud`

[2020-01-22 12:31] blizzz commented on #110
@Lebernd  yes, reasonable. do you mind open a pull request? :)

[2020-01-27 10:12] blizzz commented on #110
fixed by #111

[2020-01-27 10:12] #110 closed, assigned to nobody

[2020-01-30 22:11] blizzz opened #112 "do not ship updatenotification app"
… we already disable it, but it is easy for admins to turn  it on and cause havoc. Updates on UCS shall be done via UCS, another mechanism is not supported on this platform.

[2020-01-31 11:23] blizzz commented on #112
- ensure nothing breaks for integrity and the state that updatenotification is listed as shipped app (which prevents removal)

[2020-02-03 16:23] smooth-baking-powder opened #113 "well-known problem is back after fresh install 17.0.2-0"
Hi,

today i installed a fresh Univention Memberserver for Nextcloud 17.0.2-0.

Yesterday i uninstalled an backup all Data of 16.0.6-0.
After install and config i let all data sync back in the cloud.

Now i show in the webgui, i have the well-known warning again.
My davX on android cant connect with the Server. The normal Nextcloud app is connected with the Server.

Here is my System detail:
https

[2020-02-04 11:20] blizzz commented on #113
Please check the host configuration, we cannot do anything reliably from the app

It is only possible to link to one service provider on a domain. Having the URLs present is not crucial for a working Nextcloud setup, but improves the convenience for some end users.
The check was introduced within the Nextcloud 13 series. Thus in the earlier version the hint was not shown.

[2020-02-04 11:20] #113 closed, assigned to nobody

[2020-02-05 17:29] smooth-baking-powder opened #114 "Cron dont work on 17.0.2-0"
Hi,

my problem is on 17.0.2-0, the cron dont work. On the Weekend i installed the new Version of Nextcloud on a fresh installed Memberserver. At the Moment i have over 20 hours no cron, after i opened the cron.php manually.
I tested it with 3 memberserver and dc master in test area vm on my workstation.
On Nextcloud Memberserver updated from 16.x.x-x all is fine.

Test DC Master over 16 Minutes
!

[2020-02-05 22:29] blizzz commented on #114
Do you have the maps app enabled? https://github.com/nextcloud/maps/issues/282

[2020-02-05 22:32] blizzz commented on #114
mh, to answer myself, probably not. Is the entry in  the crontab present? Did you check the logs?

[2020-02-06 11:17] smooth-baking-powder commented on #114
For clarity:
Server 1 is productive and updated from 16.x.x-x
Server 2 is a new installed server in Domain of Server 1
Server 3 is new master DC Server in a VM on my Workstation

Maps:
(Server 2) Maps was enabled, i disabled it, cause i got other errors. I found the Solution here:
https://help.nextcloud.com/t/cron-php-call-to-a-member-function-getuserfolder-on-null/69899/6
On This Server Cron work

[2020-02-06 11:17] #114 closed, assigned to nobody

[2020-02-06 22:52] blizzz commented on #57
We had also some fixes in the server since. I think this is solved, otherwise shout out.

[2020-02-06 22:52] #57 closed, assigned to nobody

[2020-03-03 10:15] #112 closed, assigned to nobody

[2020-03-12 13:53] fbotner opened #116 "Joim script overwrites serviceprovider user setting"
Hi,
nextcloud_modify_users() in the join script overwrites the multivalue setting "serviceprovider" for users. This can break saml for "other" service providers.

Please change "--set" to "--append" in nextcloud_modify_users() for the "serviceprovider" attribute:
<pre>
--- inst.o	2020-03-12 14:49:39.116000000 +0100
+++ inst	2020-03-12 14:49:35.404000000 +0100
@@ -396,7 +396,7 @@
         udm users

[2020-03-18 09:24] Keeper-of-the-Keys opened #117 "Hostname not ucs-X does not allow setup to finish"
Hi,
Recently I downloaded your appliance to try it out, I was only able to finish the configuration wizard with the hostname I initially wanted: storage-portal-X only when I chose ucs-01 was I able to finish.
This seems like a bug to me.

As a side not in the end I decided not to use the appliance since it denied access to the commandline/backend completely, though I understand the rationale behin

[2020-03-24 20:31] blizzz commented on #117
Hey @Keeper-of-the-Keys,

thanks for your report an the nice words!

This sounds like an issue within Univention: https://help.univention.com/

This is strange… but it is not our limitation. I am only doing the app+integration for UCS. Couldn't you just SSH into it?

[2020-03-24 21:48] Keeper-of-the-Keys commented on #117
I figured you were related to them... :man_shrugging:

SSH and local shell access were both prevented, though I am sure I could have figured out how to undo these limits using a chroot from a live boot it just wasn't worth the time and effort compared to a manual setup (also running a domain controller on the same machine as nextcloud though very nice looking just didn't seem like the best idea in

[2020-03-30 13:26] #116 closed, assigned to blizzz

[2020-05-27 08:05] blizzz opened #120 "avoid being possibly stuck on maintenance mode after upgrade"
due to https://github.com/nextcloud/spreed/issues/2806, cf. https://help.univention.com/t/nextcloud-18-0-4-maintenance-mode/14977

- after the first upgrade run, check the stats (or check the log for the exception)
- in error case, rerun the upgrade. if it ran through, turn off maintenance mode

[2020-06-02 21:52] #120 closed, assigned to nobody

[2020-06-09 10:20] ofriedri opened #123 "Make the php.ini editable over updates"
Some UCS administrators have the demand to change settings in the php.ini like `upload_max_filesize`.

If an admin connects to the running container and changes the php settings under:  `/etc/php/7.2/apache2/php.ini` or `/etc/php/7.2/apache2/conf.d/60-nextcloud.ini` then these settings aren't persistent over updates.

I described a workaround using docker volumes here https://help.univention.com/t

[2020-06-09 10:24] ofriedri opened #124 "Keep app settings over updates"
If I restrict the visibility of apps to several user groups (e.g. "Domain Admins") and update the nextcloud App via the app center, then the app visibility is reset so that every user can see the apps again.

AFAIK are the visibility settings app-specific and need therefore be kept between updates.

[2020-06-17 17:52] Fuseteam opened #126 "Roadmap regarding nextcloud 19"
i would like to ask when the ucs app is planned to be updated to 19 [according to some people](https://github.com/nextcloud/nextcloud-snap/issues/1342#issuecomment-639422089) 19 is already released in production

[2020-06-17 22:59] blizzz commented on #126
Not before 19.0.1, as we have a mixed audience on this platform. Just as we did with the releases in the past :)

[2020-06-17 22:59] #126 closed, assigned to nobody

[2020-06-17 23:49] Fuseteam commented on #126
@blizzz thanks for the swift response :)
any place i can follow when 19.0.1 is released?

[2020-06-18 09:08] blizzz commented on #126
UCS app center should inform you, when it will be available on UCS.

Generally in Nextcloud, we have the release schedule: https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule

[2020-06-18 13:34] Fuseteam commented on #126
@blizzz thank you :+1:

[2020-09-18 15:05] andipilz opened #132 "OS X 10.14+ needs better redirects for .well-known DAVs"
When using NextCloud as DAV backend with UCS 4.4, OS X is not able to reliably use the function of server detection using ".well-known" due to improper redirects for:
- /.well-known/caldav
- /.well-known/carddav

This can be handled with a proper redirect on (in my case) FQDN level adding in the file /etc/apache2/sites-enabled/default-ssl.conf or the respective template.

Below:

   ProxyPass /nex

[2020-09-21 15:21] IT-Hebk opened #133 "smbclient missing"
I think something went wrong creating the new 19.03 docker image. The smbclient is missing

see: https://help.univention.com/t/nextcloud-19-0-3-smbclient-missing/16128/2

[2020-09-21 22:06] staeglis commented on #133
I've created a pull request regarding this issue:
https://github.com/nextcloud/univention-app/pull/134

[2020-10-09 18:19] blizzz commented on #133
As workaround please see https://github.com/nextcloud/univention-app/pull/134#issuecomment-706333070

[2020-10-16 10:58] #133 closed, assigned to nobody

[2021-03-24 18:38] Lebernd opened #140 "internal server error on update 20.0.8"
There is already solution to avoid this in the univention forum:
https://help.univention.com/t/nextcloud-login-problem-after-upgrade-from-20-0-2-to-20-0-8/17554

But this will disable talk/spreed.

I have the following log-message:
{"reqId":"5viCGhVgA03SaqZ6pMlH","level":4,"time":"2021-03-24T18:29:15+00:00","remoteAddr":"MYIP","user":"MYUSER","app":"webdav","method":"PROPFIND","url":"/remote.php/d

[2021-03-24 19:12] blizzz commented on #140
I didn't not come across this issue when testing. Which version of Talk is installed?

[2021-03-24 19:14] blizzz commented on #140
For reference: https://github.com/nextcloud/spreed/issues/5324#issuecomment-791398470

[2021-03-24 20:33] Lebernd commented on #140
Talk 	10.0.6

[2021-03-24 20:47] Lebernd commented on #140
Ok, thank you for the reference. The update to 10.1.3 is working with `wget` and some tar-commands in the container and I can enable talk then.

[2021-03-25 16:02] #140 closed, assigned to nobody

[2021-04-23 16:42] Fuseteam opened #142 "[question] upgrade to nextcloud 21"
we are having some latency issues with nextcloud 20, but I've heard nextcloud 21 will improve performance greatly.
are there plans to upgrade to nextcloud 21?

[2021-04-23 16:47] blizzz commented on #142
possibly with 21.0.2, no promises, but if all goes well that should be it.

[2021-04-23 16:58] Fuseteam commented on #142
sounds good thanks for the quick response

[2021-04-24 03:41] Fuseteam opened #143 "printing-app support"
appearently there is a printer app for nextcloud
based on https://github.com/e-alfred/nextcloud-printer we would need to add a couple of packages to support it
while adding the packages should be easy it's not clear to me is how the cups service should be started for it to work with univention

[2021-05-05 17:09] Fuseteam commented on #132
this is not just a macos bug btw, it much more general, this breaks caldav and carddav syncing. I do not see anything in the app itself that could solve this.  i have edited `/etc/apache2/sites-enabled/default-ssl.conf` but that doesn't seem persistent

[2021-05-05 17:14] blizzz commented on #132
There is a post_install note, let me quote:

The app cannot (for good reason) change the configuration of the reverse proxy on the host.

[2021-05-05 17:14] #132 closed, assigned to nobody

[2021-05-05 17:20] Fuseteam commented on #132
@blizzz maybe leave a comment on the linked univention bugzilla bug tracker that this needs to be solved in univention?
as this leaves nextcloud saying that is it insecure and it **does** make nextcloud less usefull considering nextcloud hub is promoted to be able to sync more than just files
![2021-05-05-142118_1246x155_scrot](https://user-images.githubusercontent.com/10421851/117182862-41cf8a80-

[2021-05-07 14:54] Fuseteam commented on #56
for those who are confused when it disappears from `/etc/apache2/sites-enabled/default-ssl.conf`
this can be configured with ucr with the following commands
[code]

[2021-05-07 18:14] Fuseteam commented on #132
oh my goodness the solution was just overlooked because we tend to skip the comments when we searching for what we need
this is what comments in `/etc/apache2/sites-enabled/defaul.ssl.conf` actually says:
[code]
the solution is adding the following two lines in ` /etc/univention/templates/files/etc/apache2/sites-available/ssl.d/99end` and running ucr for example by running `ucr set apache2/hsts=ye

[2021-05-18 12:28] Fuseteam commented on #143
i think this is the relevant part

You need a CUPS server with a shared IPP printer running within your local network. To use the plugin within a docker instance the docker image has to be altered to install the packages cups-client, cups-daemon and cups-bsd. The CUPS service has to be started and a default printer setup when the container is starting up. This is achieved by adding a startup scrip

[2021-07-14 11:48] Fuseteam commented on #142
thanks for the upgrade, we'll be updating to it this week i think :+1:

[2021-07-14 11:48] #142 closed, assigned to nobody

[2021-08-02 12:20] Fuseteam opened #147 "webfinger and nodeinfo security warning"
i seem to get a .well-known/webfinger and .well-known/nodeinfo warning in overview on nextcloud 21.0.3
i have tried applying [this](https://github.com/nextcloud/server/issues/25753#issuecomment-817152365) to the hosts apachae file but it seems the example.com/nextcloud/index.php/well-known/webfinger is also 404 so far not sure if it could be related to the htaccess file or something else.
please a

[2021-08-05 13:57] Fuseteam commented on #147
seems it resolved itself somehow example.com/nextcloud/index.php/.well-known/webfinger and example.com/nextcloud/index.php/.well-known/nodeinfo no longer 404s

for completeness i added these lines to `/etc/univention/templates/files/etc/apache2/sites-available/ssl.d/99end`

[code]

[2021-08-05 13:57] #147 closed, assigned to nobody

[2021-08-06 15:06] Fuseteam opened #148 "missing SVG support"
in overview we get this warning:
```Module php-imagick in this instance has no SVG support. For better compatibility it is recommended to install it.```

after doing some research it appears that it's likely missing a package as per https://www.reddit.com/r/NextCloud/comments/ltmu3o/upgrade_to_21_almost_flawless/ and  https://blog.tataranovich.com/2021/05/nextcloud-21-php-imagick-no-svg.html (i do

[2021-11-10 11:10] #148 closed, assigned to nobody

[2021-11-24 14:34] Fuseteam commented on #14
this seems to still be an issue on 21, tho i have a feeling is related to how the [official documentation](https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/background_jobs_configuration.html) made us set up cron.

[2021-11-25 12:27] blizzz commented on #14
The entry should be created on setup as /etc/cron.d/nextcloud

[2021-11-26 00:17] Fuseteam commented on #14
That seems to exist when we create the cron tab via univention-app shell nextcloud. Those changes appears to get lost when the docker image gets updated tho

[2021-11-26 20:19] blizzz commented on #14
I cannot reproduce this, the file exists after several upgrades.

[2021-11-27 00:38] Fuseteam commented on #14
Hmm guess we'll need to take closer look at what is happening, thanks for testing

[2021-12-01 19:27] Fuseteam commented on #14
We looked into it. For now, it appears that updates to a cronjob through crontab are not reflected in the file

[2022-02-15 11:25] theoneandonly-vector opened #155 "Question: how do you register the custom udm-attributes"
I don't really find where/how they are registered (it's not in the official docs), but you seem to do this using this file:
https://github.com/nextcloud/univention-app/blob/master/attributes

[2022-02-16 18:03] blizzz commented on #155
that's correct, the change was done with PR https://github.com/nextcloud/univention-app/pull/152

The documentation should be https://wiki.univention.de/index.php/Integration_with_UCS/Attributes

If you have follow up questions on this matter, best direct them at univention and/or their forum https://help.univention.com/

[2022-02-16 18:03] #155 closed, assigned to nobody

[2022-02-17 12:53] theoneandonly-vector commented on #155
hey there I'm sorry to ask again.. because it's not really documented, at least not so far that I get how to do this manually.
maybe you can tell me and I will update it on https://help.univention.com/ (I already asked there)

when I have my .attributes -file. how do I install / uninstall it manually?

[2022-02-17 12:56] blizzz commented on #155
I upload them using univention-appcenter-control, you can see it in the Makefile: https://github.com/nextcloud/univention-app/blob/master/Makefile#L40-L62

[2022-03-26 04:33] patti2 opened #156 "Update to Nextcloud 22/23"
According to [the Nextcloud documentation](https://docs.nextcloud.com/server/latest/admin_manual/release_schedule.html), version 21 has reached EOL as of last month.

Is there an ETA for upgrading this Univention App?
If it involves more work than bumping up the version number and publishing the result, I'm sure many users would like to help.

[2022-04-25 18:20] CrisCard0so opened #160 "After upgrade to latest version"
Univention-app shell does not work or other similar command related to univention-app

<img width="926" alt="Screen Shot 2022-04-25 at 11 19 57" src="https://user-images.githubusercontent.com/88008848/165150010-47681a5e-e661-4531-a4d2-43a905022418.png">

[2022-04-28 08:54] Lebernd commented on #160
https://help.univention.com/
will probably be a better place to look for help regarding this issue.

[2022-05-02 07:00] r100gs commented on #156
It would be very nice

[2022-05-08 13:38] Mornsgrans commented on #156
Any news?
Please note:
It is not possible to update Nexcloud on UCS server within Nextcloud. So an adapted version in Univention app-store is needed for UCS 4.x and 5.x.

[2022-05-23 11:29] blizzz commented on #156
releases are published meanwhile, also 23.0.5 is on its way

[2022-05-23 11:29] #156 closed, assigned to nobody

[2022-05-23 11:30] blizzz commented on #160
Exactly, this is unrelated to Nextcloud. Closing here.

[2022-05-23 11:30] #160 closed, assigned to nobody

[2022-06-02 15:20] Byter3 opened #165 "HEIC HEIF support"
Currently there is no support for HEIC/HEIF files from imageMagick inside the nextcloud container. Could you recompile ImageMagick for the next upgrade to support HEIC/HEIF files as well? Thank you!

[2022-06-02 21:14] blizzz commented on #165
This should be provided when upgrading the base container image to ubuntu 22.04. So far we refrain doing so as some important apps have not reached PHP 8.1 compatibility.

[2022-06-02 21:18] Byter3 commented on #165
I see. Good to know, that you are aware of this.
Also quick question. Can I just upgrade the imageMagick inside the container, for temporary messure  wothout breaking anything? (I know it's gonna be wiped with an upgrade)

[2022-06-03 09:52] blizzz commented on #165
At your own risk of course, but it should work. You might need to stop and restart apache2 (`/usr/sbin/apache2ctl -D FOREGROUND`, check the entrypoint script) if it is not being picked up.

[2022-08-17 12:46] jannikahlers opened #169 "Upgrade fails when trying to update from Nextcloud 22 to 24"
Upgrading the Nextcloud App from 22.2.7.1 to 24.0.3 (skipping a major version) leaves the app in a broken state:

- The web interface shows the 'Update needed' screen
- according to config.php:
`  'version' => '22.2.7.1',`

- trying to upgrade manually tries to perform a downgrade, which fails:
[code]

- The database does not work:
[code]

[2022-08-17 17:28] blizzz commented on #169
Skipping major versions is not supported

[2022-08-17 17:29] blizzz commented on #169
Also app upgrade is only allowed from 23.0.6-0. The built-in updater is also not supposed to be used on UCS.

[2022-08-17 17:30] blizzz commented on #169
… but it should have not suggested the updated anyway

[2022-08-17 17:33] blizzz commented on #169
Okay,  the update attempt was against 22.2.10 I think. Nevertheless, on UCS you are supposed to go via appcenter updates only.

[2022-08-17 18:00] jannikahlers commented on #169
Sorry if I confused you, the initial update was done through the app center. The built-in updater was only used to try and salvage the installation.

[2022-08-17 21:33] blizzz commented on #169
said that the connections to the database were maxed out. Restart of postgres might have helped.

More interesting would be the updater logs from univention.

[2022-09-11 20:00] Byter3 commented on #165
Hey,

I'm running NC 24 on Univention appliance.
I was following this tutorial, how to recompile the imagemagick for HEIF/HEIC support: https://eplt.medium.com/5-minutes-to-install-imagemagick-with-heic-support-on-ubuntu-18-04-digitalocean-fe2d09dcef1

I managed to install imagemagick.
[code]

[code]

So HEIC support is there. But for some reason I stll can not see the heif/heic files in my browse

[2022-11-04 08:53] blizzz commented on #169
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2022-11-04 08:53] #169 closed, assigned to nobody

[2022-11-25 10:19] blizzz commented on #104
group display names are available meanwhile. Cleaning up LDAP group remnants is not, but this has to be added to https://github.com/nextcloud/server

[2022-11-25 10:19] #104 closed, assigned to nobody